{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}" />
  </head>
  <body>
    <nav>
      <div>
        <div>
          <div>
            <div><img class="h-8 w-8" src="{% static 'myapp/images/icon_shop.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </nav>
    <h1>THIS INDEX</h1>
    <h2>
      {% for item in items %}
        <a href="{% url 'myapp:show_product' item.id %}">ID: {{ item.id }} | Name: {{ item.name }} | price: {{ item.price }} <br /></a>
      {% endfor %}
    </h2>
  </body>
</html>
